# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Env
.env
.env.local
.env.development
.env.production

# Build outputs
dist/
build/
.vite/
.cache/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Security
config/serviceAccountKey.json
